{% extends 'user_prof.html' %}


{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
    $('form').submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        
        // Verify element selection
        var errorMessage = $('#error-message');
        
        $.ajax({
            url: '/check_category_exists/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.message === 'Category already exists') {
                    // Display an error message on the page
                    errorMessage.text('Category already exists');
                } else {
                    // Submit the form if the category doesn't exist
                    $('form')[0].submit();
                }
            },
            error: function(response) {
                // Handle other errors if needed
                errorMessage.text('Category already exists');
            }
        });
    });
});

    </script>
    
    

</head>
<div>
    <h1>Add Product Category</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="categ_name">Category Name:</label>
            <input type="text" name="categ_name" id="categ_name" required>
            <span id="error-message" style="color: red;"></span>
        </div>
        <div>
            <label for="categ_image">Category Image:</label>
            <input type="file" name="categ_image" id="categ_image" accept="image/*" required>
        </div>
        <button type="submit">Save</button>
    </form>
</div>




    {% endblock%}
  