{% extends 'user_prof.html' %}


{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <!-- <th>Estimated Delivery Time</th> -->
            <!-- <th>Shipping By</th> -->
            <th>Allot Delivery Boy</th>
            
           
        </tr>
    </thead>
    <tbody>
        {% for order in show_orders|dictsortreversed:"order_date" %}
        
       
        <tr>
            <td><b>{{ order.id }}</b></td>
            <!-- <td><form method="post" action="{% url 'set_date' order.id %}">
                {% csrf_token %}
                <input type="date" name="date_allot" id="">
                <button type="submit">Set</button>
            </form></td> -->
            <!-- <td></td> -->
            {% if order.assigneddeliveryagent_set.all %}
            <!-- If a delivery agent is already assigned -->
            <td>Delivery Agent allotted</td>
        {% else %}
            <!-- If a delivery agent is not assigned, display the allot button -->
            <td>
                <form action="{% url 'allot_del_boy' order.id %}">
                    <button type="submit">Allot Delivery Boy</button>
                </form>
            </td>
        {% endif %}
            
        </tr>
   
        {% endfor %}
    </tbody>
</table>
{% endblock%}