{% extends 'user_prof.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?key=Agyr0UQGWTFzP3Fwb3PDJ_ahP24jx9jRgpUWwBD_37B8MXu1oql6WCs6J-vgU1YT"></script>

<div class="container-fluid">
    <div class="map" id="myMap" style="height: 400px"></div>
    <div class="card">
        <div class="card-body">
            <div class="container mt-4">
                <h2 class="text-center mb-4">All Delivery Agents</h2>

                {% for delivery_agent in delivery_agents %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Delivery Agent Details</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Name:</strong> {{ delivery_agent.name }}</li>
                            <li class="list-group-item"><strong>Username:</strong> {{ delivery_agent.user.username }}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{ delivery_agent.user.email }}</li>
                            <li class="list-group-item"><strong>Phone:</strong> {{ delivery_agent.mobile }}</li>
                            <li class="list-group-item"><strong>Status:</strong> {{ delivery_agent.availability }}</li>
                        </ul>

                        
                    </div>
                </div>
                
                {% endfor %}

                <!-- Add Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

            </div>

        </div>
    </div>
</div>
<script>
    var map;
    var searchManager;

    function initMap() {
        map = new Microsoft.Maps.Map("#myMap", {
            credentials: "Au3Blei_Uhp8WxG4OPh-ZutbAHXmqrN3vEc-UkASaaTY6adPoJEo2QHBLTyNNvhB",
            zoom: 10,
        });

        // Retrieve data from Django view and loop through it
        var deliveryAgents = [
            {% for agent in delivery_agents %}
            {
                latitude: {{ agent.latitude }},
                longitude: {{ agent.longitude }},
                
            },
            {% endfor %}
        ];

        // Create markers for each delivery agent
        for (var i = 0; i < deliveryAgents.length; i++) {
            var agent = deliveryAgents[i];
            var marker = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(agent.latitude, agent.longitude), {
                title: agent.name,
                subTitle: 'Username: ' + agent.username + ', Phone: ' + agent.phone

            });
            map.entities.push(marker);
        }
    }

    // Call the initMap function once the page is loaded
    window.onload = initMap;
</script>

{% endblock %}