{% comment %}{% if cart %}
                <table  class="table table-light table-borderless table-hover text-center mb-0">
                    <thead style="background-color: #010110;" class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for item in cart_items %}
                        <tr>
                            <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;"> {{ item.prod.prod_name }}</td>
                            <td class="align-middle">Rs.{{ item.prod.price }}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <!-- <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button> -->
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{ item.quantity }}">
                                    <div class="input-group-btn">
                                        <!-- <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button> -->
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">Rs.{{ item.total_price }}</td>
                            <td class="align-middle">
                                <form method="post" action="{% url 'remove_cart_item' item.cart_item_id %}">
                                    {% csrf_token %}
                                    <button style="border-radius: 3px;" type="submit" class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash"></i>
                                      </button>
                                </form>
                            </td>
                        </tr>
                     {% endfor %}  
                    </tbody>
                </table>
                 {% else %}
    <p>Your cart is empty.</p>
    {% endif %} {% endcomment %}





          {% comment %} <input type="hidden" name="img1_current" value="{{ user_profile.profile_image.url }}"> {%
                endcomment %}
                {% comment %} {% if user_profile.profile_image %}
                <img id="img1_preview" src="{{ user_profile.profile_image.url }}" alt="Image 1"><br><br>
                {% else %}
                <img id="img1_preview" style=" display: none;">
                {% endif %} {% endcomment %}


                {% comment %} <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                <div class="col-md-8 col-lg-9">
                  {% if user_profile.user.profile_image %}
                  <img src="{{ user_profile.user.profile_image.url }}" alt="Profile" class="rounded-circle">
                  {% else %}
                  <img style=" display: none;" class="rounded-circle">
                  {% endif %}
                  <div class="pt-2"> {% endcomment %}
                    {% comment %} <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i
                        class="bi bi-upload"></i></a>
                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i
                        class="bi bi-trash"></i></a> {% endcomment %}
                    {% comment %} <input type="file" id="img1" name="profile_image" accept="image/*"
                      class="form-control"> {% endcomment %}

                    {% comment %}
                  </div>
                </div> {% endcomment %}

















                profile-edit





                <header id="header" class="header fixed-top d-flex align-items-center"> 
                    <img  src="{% static 'img/login/logo2.png' %}" alt="Logo" width="200px" height="50px">
                    <div class="d-flex align-items-center justify-content-between">
                     
                      <!-- <i style="margin-left: 40px; color: #f8f6f6;" class="bi bi-list toggle-sidebar-btn"></i> -->
                    </div><!-- End Logo -->
                
                    <!-- <div class="search-bar">
                      <form class="search-form d-flex align-items-center" method="POST" action="#">
                        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                      </form>
                    </div>End Search Bar -->
                
                    <nav class="header-nav ms-auto">
                      <ul class="d-flex align-items-center">
                
                        <li class="nav-item d-block d-lg-none">
                          <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                          </a>
                        </li><!-- End Search Icon-->
                
                        <li class="nav-item dropdown">
                
                         <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-bell"></i>
                            <span class="badge bg-primary badge-number">4</span>
                          </a><!-- End Notification Icon --> 
                
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                            <li class="dropdown-header">
                              You have 5 new notifications
                              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="notification-item">
                              <i class="bi bi-exclamation-circle text-warning"></i>
                              <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                              </div>
                            </li>
                
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="notification-item">
                              <i class="bi bi-x-circle text-danger"></i>
                              <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                              </div>
                            </li>
                
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="notification-item">
                              <i class="bi bi-check-circle text-success"></i>
                              <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                              </div>
                            </li>
                
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="notification-item">
                              <i class="bi bi-info-circle text-primary"></i>
                              <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                              </div>
                            </li>
                
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-footer">
                              <a href="#">Show all notifications</a>
                            </li>
                
                          </ul><!-- End Notification Dropdown Items -->
                
                        </li><!-- End Notification Nav -->
                
                        <li class="nav-item dropdown">
                
                          {% comment %} <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-chat-left-text"></i>
                            <span class="badge bg-success badge-number">3</span>
                          </a><!-- End Messages Icon --> {% endcomment %}
                
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                            <li class="dropdown-header">
                              You have 3 new messages
                              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="message-item">
                              <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                  <h4>Maria Hudson</h4>
                                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                  <p>4 hrs. ago</p>
                                </div>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="message-item">
                              <a href="#">
                                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                  <h4>Anna Nelson</h4>
                                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                  <p>6 hrs. ago</p>
                                </div>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="message-item">
                              <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                  <h4>David Muldon</h4>
                                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                  <p>8 hrs. ago</p>
                                </div>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li class="dropdown-footer">
                              <a href="#">Show all messages</a>
                            </li>
                
                          </ul><!-- End Messages Dropdown Items -->
                
                        </li><!-- End Messages Nav -->
                
                        <li class="nav-item dropdown pe-3">
                
                          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            {% if user_profile.profile_image %}
                            <img src="{{ user_profile.profile_image.url }}" alt="Profile" class="rounded-circle">
                            {% else %}
                            <img src="{% static 'img\fish_images\lionfish.jpg' %}" alt="Profile" class="rounded-circle">
                
                            <!-- <img src="{% static 'img\fish_images\lionfish.jpg' %}" alt="Default Profile" class="rounded-circle"> -->
                            {% endif %}
                            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user_profile.user.username }}</span>
                          </a><!-- End Profile Iamge Icon -->
                
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                              <h6>{{ user_profile.user.username }}</h6>
                              {% if user.is_superuser %}
                        <span class="d-none d-lg-block">Admin</span>
                        {% elif user.is_staff and not user.is_superuser %}
                        <span class="d-none d-lg-block">Seller</span>
                        {% else %}
                        <span class="d-none d-lg-block">User</span>
                        {% endif %}
                
                              {% comment %} <span>Web Designer</span> {% endcomment %}
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <!-- <li onclick="showmain('main2')"> -->
                            <li>
                              <a class="dropdown-item d-flex align-items-center" href="{% url 'user_profile' %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <!-- <li>
                              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li>
                              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                              </a>
                            </li> -->
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                
                            <li>
                              <a class="dropdown-item d-flex align-items-center" href="{% url 'loggout' %}">
                                <i style="color:red" class="ri-logout-circle-line"></i>
                          <span>Logout</span>
                              </a>
                            </li>
                
                          </ul><!-- End Profile Dropdown Items -->
                        </li><!-- End Profile Nav -->
                
                      </ul>
                    </nav><!-- End Icons Navigation -->
                
                  </header><!-- End Header -->  