{% extends 'user_prof.html' %}

{% block content %}

<style>
.btn_pay{
	width: 50px;
	height: 30px;
	background-color: blue;
	color: white;
	margin: auto;
}

.gradient-custom {
background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-custom {
border-bottom-left-radius: 10% 50%;
border-top-left-radius: 10% 50%;
background-color: #f8f9fa ;
}


.input-custom {
background-color: white ;
}

.white-text {
color: hsl(52, 0%, 98%);
font-weight: 100 ;
font-size: 14px;
}

.back-button {
background-color: hsl(52, 0%, 98%);
font-weight: 700;
color: black ;
margin-top: 50px ;
}

</style>
<div class="row mb-3">
    <!-- <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Address1</label> -->
	<div  class="row mt-3 mx-3" style="background: -webkit-linear-gradient(left, #3931af, #00c6ff);; margin-top:25px ;">
		<div class="col-md-3">
		  <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
			<i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"
			  data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"
			  data-mdb-animation-on-scroll="repeat" class="fas fa-3x fa-shipping-fast text-white"></i>
			<h3 class="mt-3 text-white">Welcome</h3>
			<!-- <p class="white-text">You are 30 seconds away from compleating your order!</p> -->
		  </div>
		  <div class="text-center">
			<!-- <button type="submit" class="btn btn-white btn-rounded back-button">Go back</button> -->
		  </div>
	  
	  
		</div>







		<div class="col-md-9 justify-content-center">
		  <div style="margin: 10px 0px;" class="card card-custom pb-4">
			<div class="card-body mt-0 mx-5">
			  <div class="text-center mb-3 pb-2 mt-3">
				<h4 style="color: #495057 ;">Delivery Details</h4>
			  </div>
			  <script>
               
                function validateFirstName() {
    const firstNameInput = document.getElementById('fullName');
    const firstName = firstNameInput.value.trim();
    const errorElement = document.getElementById('firstNameError');

    // Regular expression to check if the first name starts with a letter and does not contain special characters
    const regex = /^[A-Za-z][A-Za-z\s]*$/;

    if (regex.test(firstName)) {
      errorElement.classList.add('d-none');
      document.getElementById('submitBtn').removeAttribute('disabled');

    } else {
      errorElement.classList.remove('d-none');
      document.getElementById('submitBtn').setAttribute('disabled', 'true');

    }
  }

  function validateDistrict() {
    const firstNameInput = document.getElementById('district');
    const firstName = firstNameInput.value.trim();
    const errorElement = document.getElementById('districtError');

    // Regular expression to check if the first name starts with a letter and does not contain special characters
    const regex = /^[A-Za-z][A-Za-z\s]*$/;

    if (regex.test(firstName)) {
      errorElement.classList.add('d-none');
      document.getElementById('submitBtn').removeAttribute('disabled');

    } else {
      errorElement.classList.remove('d-none');
      document.getElementById('submitBtn').setAttribute('disabled', 'true');

    }
  }



  function validateLastName() {
    const lastNameInput = document.getElementById('lastName');
    const lastName = lastNameInput.value.trim();
    const errorElement = document.getElementById('lastNameError');

    // Regular expression to check if the last name starts with a letter and does not contain special characters
    const regex = /^[A-Za-z][A-Za-z\s]*$/;

    if (regex.test(lastName)) {
      errorElement.classList.add('d-none');
      document.getElementById('submitBtn').removeAttribute('disabled');

    } else {
      errorElement.classList.remove('d-none');
      document.getElementById('submitBtn').setAttribute('disabled', 'true');

    }
  }
  function validateCity() {
    const lastNameInput = document.getElementById('city');
    const lastName = lastNameInput.value.trim();
    const errorElement = document.getElementById('cityError');

    // Regular expression to check if the last name starts with a letter and does not contain special characters
    const regex = /^[A-Za-z][A-Za-z\s]*$/;

    if (regex.test(lastName)) {
      errorElement.classList.add('d-none');
      document.getElementById('submitBtn').removeAttribute('disabled');

    } else {
      errorElement.classList.remove('d-none');
      document.getElementById('submitBtn').setAttribute('disabled', 'true');

    }
  }
  function validateHN() {
    const lastNameInput = document.getElementById('hn');
    const lastName = lastNameInput.value.trim();
    const errorElement = document.getElementById('hnError');

    // Regular expression to check if the last name starts with a letter and does not contain special characters
    const regex = /^[A-Za-z][A-Za-z\s]*$/;

    if (regex.test(lastName)) {
      errorElement.classList.add('d-none');
      document.getElementById('submitBtn').removeAttribute('disabled');

    } else {
      errorElement.classList.remove('d-none');
      document.getElementById('submitBtn').setAttribute('disabled', 'true');

    }
  }

  function validateZipcode() {
    const firstNameInput = document.getElementById('zip');
    const firstName = firstNameInput.value.trim();
    const errorElement = document.getElementById('zipError');

    // Regular expression to check if the first name starts with a letter and does not contain special characters
    const regex = /^\d{6}$/;

    if (regex.test(firstName)) {
      errorElement.classList.add('d-none');
      document.getElementById('submitBtn').removeAttribute('disabled');

    } else {
      errorElement.classList.remove('d-none');
      document.getElementById('submitBtn').setAttribute('disabled', 'true');

    }
  }

  function validateMobile() {
    const firstNameInput = document.getElementById('mobile');
    const firstName = firstNameInput.value.trim();
    const errorElement = document.getElementById('mobileError');

    // Regular expression to check if the first name starts with a letter and does not contain special characters
    const regex = /^(?!([0-9])\1+$)(?!0{5,})[6-9][0-9]{9}$/;

    if (regex.test(firstName)) {
      errorElement.classList.add('d-none');
      document.getElementById('submitBtn').removeAttribute('disabled');

    } else {
      errorElement.classList.remove('d-none');
      document.getElementById('submitBtn').setAttribute('disabled', 'true');

    }
  }

              </script>


			  <form class="mb-0" id="userAddressForm" method="post" action="{% url 'delivery_addr' %}" enctype="multipart/form-data" onsubmit="return validateForm()">
				{% csrf_token %}
				<div class="row mb-4">
				  <div class="col">
					<div class="form-outline">
						<input name="first_name" type="text" class="form-control" id="fullName" value="{{ user_add.user.first_name }}"
						oninput="validateFirstName()">
					  <label class="form-label" for="form9Example1">First name</label><br>
					  <small id="firstNameError" class="text-danger d-none">First name must start with a letter and not contain special characters.</small>
					</div>
				  </div>
				  <div class="col">
					<div class="form-outline">
						<input name="last_name" type="text" class="form-control" id="lastName" value="{{ user_add.user.last_name }}"
						oninput="validateLastName()">
						<label class="form-label" for="form9Example1">Last name</label><br>

					  <small id="lastNameError" class="text-danger d-none">Last name must start with a letter and not contain special characters.</small>
					</div>
				  </div>
				</div>
				<div class="row mb-4">
				  <div class="col">
					<div class="form-outline">
						<input name="district" type="text" class="form-control" id="district" value="{{ user_add.district }}"
						oninput="validateDistrict()">
					  <label class="form-label" for="form9Example3">District</label><br>
					  <small id="districtError" class="text-danger d-none">First name must start with a letter and not contain special characters.</small>

					</div>
				  </div>
				  <div class="col">
					<div class="form-outline">
						<input name="zip" type="text" class="form-control" id="zip" value="{{ user_add.pincode }}"
						oninput="validateZipcode()">
						<label class="form-label" for="form9Example4">Pincode</label><br>
					  <small id="zipError" class="text-danger d-none">First name must start with a letter and not contain special characters.</small>

					</div>
				  </div>
				</div>
				<div class="row mb-4">
					<div class="col">
					  <div class="form-outline">
						<input name="city" type="text" class="form-control" id="city" value="{{ user_add.city }}"
						oninput="validateCity()">
						<label class="form-label" for="form9Example4">Town</label><br>
					  <small id="cityError" class="text-danger d-none">First name must start with a letter and not contain special characters.</small>

					  </div>
					</div>
					<div class="col">
					  <div class="form-outline">
						<input name="hn" type="text" class="form-control" id="hn" value="{{ user_add.house_name }}"
						oninput="validateHN()">
						<label class="form-label" for="form9Example4">House Name</label><br>
					  <small id="hnError" class="text-danger d-none">First name must start with a letter and not contain special characters.</small>

					  </div>
					</div>
				  </div>
				<div class="row mb-4">
				  <div class="col">
					<div class="form-outline">
						<input name="mobile" type="text" class="form-control" id="mobile" value="{{ user_add.mobile_number }}"
						oninput="validateMobile()">
						<label class="form-label" for="form9Example4">Mobile No.</label><br>
					  <small id="mobileError" class="text-danger d-none">First name must start with a letter and not contain special characters.</small>

					</div>
				  </div>
				  <div class="col">
					<div class="form-outline">
					  <input type="email" id="typeEmail" class="form-control input-custom" value="{{ user_add.user.email }}" readonly />
					  <label class="form-label" for="typeEmail">Email</label>
					</div>
				  </div>
				</div>
				<button style="background-color: #FFD333; border:none; color: black; border-radius: 5px; height: 30px;" id="submitBtn" type="submit" class="" disabled><b>Save Changes</b></button>
				
			</form>

			<script>

				
document.addEventListener("DOMContentLoaded", function() {
        // Call the checkFormCompleteness function after the DOM has loaded
        checkFormCompleteness();
    });


				document.getElementById("submitBtn").addEventListener("click", function () {
					var form = document.getElementById("userAddressForm");
					var formData = new FormData(form);
					
					// Prevent default form submission
					event.preventDefault();
			
					// Send AJAX request
					$.ajax({
						type: form.method,
						url: form.action,
						data: formData,
						processData: false,
						contentType: false,
						success: function (response) {
							// Handle successful response
							console.log(response);
							
							// After successful submission, check form completeness
							checkFormCompleteness();
							window.location.reload();
						},
						error: function (xhr, status, error) {
							// Handle errors
							console.error(xhr.responseText);
						}
					});
				});
			
				function checkFormCompleteness() {
					var firstName = "{{ user_add.user.first_name }}";
					var lastName = "{{ user_add.user.last_name }}";
					var district = "{{ user_add.district }}";
					var email = "{{ user_add.user.email }}";
					var houseName = "{{ user_add.house_name }}";
					var mobileNumber = "{{ user_add.mobile_number }}";
					var pincode = "{{ user_add.pincode }}";
					var city = "{{ user_add.city }}";
					// var payBtn = document.getElementById("pay-btn");
			
					if (firstName === "" || lastName === "" || district === "" || email === "" || houseName === "" || mobileNumber === "" || pincode === "" || city === "") {
						// document.getElementById("address-btn").style.display = "block";
						$('#pay-btn').addClass('error'); // Add error class for styling
						$('#pay-btn').removeClass('error1'); // Remove error class

                        $('#pay-btn').prop('disabled', true);
					} else {
						// document.getElementById("address-btn").style.display = "none";
						$('#pay-btn').removeClass('error'); // Remove error class
						$('#pay-btn').addClass('error1');

                        $('#pay-btn').prop('disabled', false);
					}
				}
			</script>
			

			<style>
				.error{
					background-color: red;
					color: white;
				}
				.error1{
					background-color: blue ; height: 30px; border-radius: 5px; border: none; color: white;
				}
			</style>
			  
				<div class="float-end ">
				  <!-- Submit button -->
				  <!-- Display button to show complete address -->
				  <!-- Submit button -->
				  <button id="pay-btn" class="" style="">Place order</button>
				</div>
	  
			</div>
		  </div>
		</div>
	  </div>
    <div class="col-md-8 col-lg-9">
        <!-- <p>{{ user_add.district }}</p>
		<p>{{ user_add.pincode }}</p>
		<p>{{ user_add.address1 }}</p>
		<p>{{ user_add.city }}</p>
		<p>{{ user_add.house_name }}</p> -->
    </div>
  </div>

  <!-- <div class="row mb-3">
    <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Address2</label>
    <div class="col-md-8 col-lg-9">
      <p>{{ user_add.address2 }}</p>
    </div>
  </div> -->

	<div>
    <div>
        	<!-- Payment Button -->
		<!-- <button class="btn_pay" id="pay-btn">Pay</button> -->
	</div>
	</div>

<!-- Razorpay's Javascript code. -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	var options = {
	
	// Enter the Key ID generated from the Dashboard
	key: "{{ razorpay_merchant_key }}",
	
	// Amount is in currency subunits.
	// Default currency is INR. Hence,
	// 50000 refers to 50000 paise
	amount: "{{ razorpay_amount }}",
	currency: "{{ currency }}",
	
	// Your/store name.
	name: "AQUEON",
	
	// Pass the `id` obtained in the response of Step 1
	order_id: "{{ razorpay_order_id }}",
	callback_url: "{{ callback_url }}",
	};
	
	// initialise razorpay with the options.
	var rzp1 = new Razorpay(options);
	
	// add event listener to the payment button.
	document.getElementById("pay-btn").onclick = function (e) {
	rzp1.open();
	e.preventDefault();
	};
</script>
</html>
{% endblock %}