{% extends 'user_prof.html' %}


{% block content %}



<style>
    .section-title {
    margin-bottom: 38px
}

.img-fluid{
    height:100px;
}

.section {
    padding-top: 40px;
    padding-bottom: 1400px
}

.rounded-lg {
    border-radius: 10px
}

.shadow,
.subscription-wrapper {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}

.hover-bg-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(134deg, #00a4db 0%, #00269e 100%);
    z-index: -1;
    opacity: 0
}

.hover-bg-primary:hover {
    background: transparent
}

.hover-bg-primary:hover:before {
    opacity: 1
}

.pricing-table:before,
.hover-bg-primary::before,
.card-border-bottom:after {
    transition: ease 0.3s
}

.hover-bg-primary:hover * {
    color: #fff !important
}

.hover-bg-primary:hover * {
    color: #fff !important
}

.btnn-outline-primary {
    color: #007ac7;
    border: 2px solid #00e0d8
}

.btnn {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 14px 45px;
    border-radius: 45px;
    font-weight: 500;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden
}

.hover-bg-primary .btnn {
    transition: unset
}

.btnn-outline-primary:hover {
    color: #fff !important;
    background: none;
    border: 2px solid #00e0d8
}
</style>


<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Exclusive features</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg- mb-4">
                <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"> <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
                    <h5 class="pt-5 pb-3 text-capitalize card-title">Door-to-Door</h5>
                    <p class="mb-4">Our door-to-door delivery service brings your aquatic essentials directly to your doorstep, ensuring ultimate convenience and satisfaction with every order.</p> 
                    <!-- <a class="btnn btnn-outline-primary" href="#" data-abc="true">read more</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg- mb-4">
                <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"> <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
                    <h5 class="pt-5 pb-3 text-capitalize card-title">Exclusive Imports</h5>
                    <p class="mb-4">Exclusive access to imported fish species. This could include rare or exotic species sourced from international suppliers or specialty breeders.

                    </p> 
                    

                        {% if is_subscribed %}
                        <a style="background-color: green; color: white;" class="btnn btnn-outline-primary" >
                        Subscribed
                        </a>
                        {% else %}
                        <a class="btnn btnn-outline-primary" href="{% url 'sub_pay' %}?amount=300">Subscribe Now</a>
                        {% endif %}

                    
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg- mb-4">
                <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow"> <img src="https://i.imgur.com/zyCBebp.png" class="img-fluid" alt="feature-image">
                    <h5 class="pt-5 pb-3 text-capitalize card-title">Free Delivery</h5>
                    <p class="mb-4">Dive into savings and convenience with our complimentary delivery service, designed to make your aquatic hobby hassle-free with every order</p>
                     <!-- <a class="btnn btnn-outline-primary" href="#" data-abc="true">read more</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->

{% endblock%}
